# Pandas for Exploratory Data Analysis

We'll be working with a few key datasets throughout this session.

- MovieLens 100k movie rating data:
    - main page: http://grouplens.org/datasets/movielens/
    - data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
- WHO alcohol consumption data:
    - article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/
    - original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
- National UFO Reporting Center data:
    - main page: http://www.nuforc.org/webreports.html

In [7]:
# the pandas library
import pandas as pd

## Reading Files, Selecting Columns, and Summarizing

In [8]:
# read in directly from the URL
users = pd.read_table('https://raw.githubusercontent.com/josephofiowa/DAT8/master/data/u.user')

In [9]:
users

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
5                   6|42|M|executive|98101
6               7|57|M|administrator|91344
7               8|36|M|administrator|05201
8                     9|29|M|student|01002
9                     10|53|M|lawyer|90703
10                     11|39|F|other|30329
11                     12|28|F|other|06405
12                  13|47|M|educator|29206
13                 14|45|M|scientist|55106
14                  15|49|F|educator|97301
15             16|21|M|entertainment|10309
16                17|30|M|programmer|06355
17                     18|35|F|other|37212
18                 19|40|M|librarian|02138
19                 20|42|F|homemaker|95660
20                    21|26|M|writer|30068
21                    22|25|M|writer|40206
22                    23|30|F|artist|48197
23                    24|21|F|artist|94533
24                  25|39|M|engineer|55107
25                  26|49|M|engineer|21044
26                 27|40|F|librarian|30030
27                    28|32|M|writer|55369
28                29|41|M|programmer|94043
29                    30|7|M|student|55436
..                                     ...
913                   914|44|F|other|08105
914           915|50|M|entertainment|60614
915                916|27|M|engineer|N2L5N
916                 917|22|F|student|20006
917               918|40|M|scientist|70116
918                   919|25|M|other|14216
919                  920|30|F|artist|90008
920                 921|20|F|student|98801
921           922|29|F|administrator|21114
922                 923|21|M|student|E2E3R
923                   924|29|M|other|11753
924                925|18|F|salesman|49036
925           926|49|M|entertainment|01701
926              927|23|M|programmer|55428
927                 928|21|M|student|55408
928               929|44|M|scientist|53711
929               930|28|F|scientist|07310
930                931|60|M|educator|33556
931                932|58|M|educator|06437
932                 933|28|M|student|48105
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

In [10]:
# read 'u.user' into 'users'
users = pd.read_table('https://raw.githubusercontent.com/josephofiowa/DAT8/master/data/u.user', sep='|', index_col='user_id')

In [11]:
# examine the users data
users                   # print the first 30 and last 30 rows

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [12]:
type(users)             # DataFrame

pandas.core.frame.DataFrame

In [13]:
users.head()            # print the first 5 rows

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [14]:
users.head(10)          # print the first 10 rows

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [15]:
users.tail()            # print the last 5 rows

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [16]:
users.index             # "the index" (aka "the labels")

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name=u'user_id', length=943)

In [17]:
users.columns           # column names (which is "an index")

Index([u'age', u'gender', u'occupation', u'zip_code'], dtype='object')

In [18]:
users.dtypes            # data types of each column

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [21]:
users.shape             # number of rows and columns

(943, 4)

In [22]:
users.values            # underlying numpy array

array([[24, 'M', 'technician', '85711'],
       [53, 'F', 'other', '94043'],
       [23, 'M', 'writer', '32067'],
       ...,
       [20, 'M', 'student', '97229'],
       [48, 'F', 'librarian', '78209'],
       [22, 'M', 'student', '77841']], dtype=object)

#### Select a column

In [23]:
users['gender']         # select one column

user_id
1      M
2      F
3      M
4      M
5      F
6      M
7      M
8      M
9      M
10     M
11     F
12     F
13     M
14     M
15     F
16     M
17     M
18     F
19     M
20     F
21     M
22     M
23     F
24     F
25     M
26     M
27     F
28     M
29     M
30     M
      ..
914    F
915    M
916    M
917    F
918    M
919    M
920    F
921    F
922    F
923    M
924    M
925    F
926    M
927    M
928    M
929    M
930    F
931    M
932    M
933    M
934    M
935    M
936    M
937    M
938    F
939    F
940    M
941    M
942    F
943    M
Name: gender, dtype: object

In [24]:
type(users['gender'])   # Series

pandas.core.series.Series

In [25]:
users.gender            # select one column using the DataFrame attribute

user_id
1      M
2      F
3      M
4      M
5      F
6      M
7      M
8      M
9      M
10     M
11     F
12     F
13     M
14     M
15     F
16     M
17     M
18     F
19     M
20     F
21     M
22     M
23     F
24     F
25     M
26     M
27     F
28     M
29     M
30     M
      ..
914    F
915    M
916    M
917    F
918    M
919    M
920    F
921    F
922    F
923    M
924    M
925    F
926    M
927    M
928    M
929    M
930    F
931    M
932    M
933    M
934    M
935    M
936    M
937    M
938    F
939    F
940    M
941    M
942    F
943    M
Name: gender, dtype: object

#### Summarize (describe) the DataFrame

In [26]:
users.describe()                    # describe all numeric columns

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [32]:
users.describe(include=['object'])  # describe all object columns

       gender occupation zip_code
count     943        943      943
unique      2         21      795
top         M    student    55414
freq      670        196        9

In [33]:
users.describe(include='all')       # describe all columns

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

#### Summarize a Series

In [34]:
users.gender.describe()             # describe a single column

count     943
unique      2
top         M
freq      670
Name: gender, dtype: object

In [35]:
users.age.mean()                    # only calculate the mean

34.05196182396607

### Exercise One

#### Read drinks.csv into a DataFrame called 'drinks'
Data: https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv

In [47]:
drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv')

#### Print the head and the tail

In [49]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [51]:
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

#### Examine the default index, data types, and shape

In [52]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [53]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [54]:
drinks.shape

(193, 6)

#### Print the 'beer_servings' Series

In [55]:
drinks['beer_servings']

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

#### Calculate the mean 'beer_servings' for the entire dataset

In [56]:
drinks.beer_servings.mean()

106.16062176165804

In [60]:
drinks.beer_servings.describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

#### Count the number of occurrences of each 'continent' value and see if it looks correct

In [61]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [ ]:
# drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv', na_filter=False)

#### BONUS: display only the number of rows of the 'users' DataFrame

In [64]:
users.shape[0]

943

#### BONUS: display the 3 most frequent occupations in 'users'

## Filtering and Sorting

#### Boolean filtering: only show users with age < 20

In [65]:
young_bool = users.age < 20         # create a Series of booleans...

In [69]:
users[young_bool]           # ...and use that Series to filter rows

         age gender     occupation zip_code
user_id
30         7      M        student    55436
36        19      F        student    93117
52        18      F        student    55105
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
206       14      F        student    53115
221       19      M        student    20685
223       19      F        student    47906
246       19      M        student    28734
257       17      M        student    77005
258       19      F        student    77801
262       19      F        student    78264
270       18      F        student    63119
281       15      F        student    06059
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
320       19      M        student    24060
341       17      F        student    44405
347       18      M        student    90210
367       17      M        student    37411
368       18      M        student    92113
375       17      M  entertainment    37777
393       19      M        student    83686
397       17      M        student    27514
...      ...    ...            ...      ...
601       19      F         artist    99687
609       13      F        student    55106
618       15      F        student    44212
619       17      M        student    44134
620       18      F         writer    81648
621       17      M        student    60402
624       19      M        student    30067
628       13      M           none    94306
631       18      F        student    38866
632       18      M        student    55454
642       18      F        student    95521
646       17      F        student    51250
674       13      F        student    55337
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
787       18      F        student    98620
813       14      F        student    02136
817       19      M        student    60152
849       15      F        student    25652
851       18      M          other    29646
859       18      F          other    06492
863       17      M        student    60089
872       19      F        student    74078
880       13      M        student    83702
887       14      F        student    27249
904       17      F        student    61073
925       18      F       salesman    49036

[77 rows x 4 columns]

In [74]:
users[users.age < 20]               # or, combine into a single step

         age gender     occupation zip_code
user_id
30         7      M        student    55436
36        19      F        student    93117
52        18      F        student    55105
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
206       14      F        student    53115
221       19      M        student    20685
223       19      F        student    47906
246       19      M        student    28734
257       17      M        student    77005
258       19      F        student    77801
262       19      F        student    78264
270       18      F        student    63119
281       15      F        student    06059
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
320       19      M        student    24060
341       17      F        student    44405
347       18      M        student    90210
367       17      M        student    37411
368       18      M        student    92113
375       17      M  entertainment    37777
393       19      M        student    83686
397       17      M        student    27514
...      ...    ...            ...      ...
601       19      F         artist    99687
609       13      F        student    55106
618       15      F        student    44212
619       17      M        student    44134
620       18      F         writer    81648
621       17      M        student    60402
624       19      M        student    30067
628       13      M           none    94306
631       18      F        student    38866
632       18      M        student    55454
642       18      F        student    95521
646       17      F        student    51250
674       13      F        student    55337
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
787       18      F        student    98620
813       14      F        student    02136
817       19      M        student    60152
849       15      F        student    25652
851       18      M          other    29646
859       18      F          other    06492
863       17      M        student    60089
872       19      F        student    74078
880       13      M        student    83702
887       14      F        student    27249
904       17      F        student    61073
925       18      F       salesman    49036

[77 rows x 4 columns]

In [75]:
users[users.age < 20].occupation    # select one column from the filtered results

user_id
30           student
36           student
52           student
57              none
67           student
68           student
101          student
110          student
142            other
179    entertainment
206          student
221          student
223          student
246          student
257          student
258          student
262          student
270          student
281          student
289             none
291          student
303          student
320          student
341          student
347          student
367          student
368          student
375    entertainment
393          student
397          student
           ...
601           artist
609          student
618          student
619          student
620           writer
621          student
624          student
628             none
631          student
632          student
642          student
646          student
674          student
700          student
710          student
729          student
747            other
761          student
787          student
813          student
817          student
849          student
851            other
859            other
863          student
872          student
880          student
887          student
904          student
925         salesman
Name: occupation, dtype: object

In [76]:
users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

student          64
other             4
none              3
writer            2
entertainment     2
salesman          1
artist            1
Name: occupation, dtype: int64

#### Boolean filtering with multiple conditions

In [77]:
users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition

         age gender     occupation zip_code
user_id
30         7      M        student    55436
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
221       19      M        student    20685
246       19      M        student    28734
257       17      M        student    77005
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
320       19      M        student    24060
347       18      M        student    90210
367       17      M        student    37411
368       18      M        student    92113
375       17      M  entertainment    37777
393       19      M        student    83686
397       17      M        student    27514
425       19      M        student    58644
451       16      M        student    48446
453       18      M        student    06333
461       15      M        student    98102
471       10      M        student    77459
521       19      M        student    02146
528       18      M        student    55104
580       16      M        student    17961
582       17      M        student    93003
592       18      M        student    97520
619       17      M        student    44134
621       17      M        student    60402
624       19      M        student    30067
628       13      M           none    94306
632       18      M        student    55454
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
817       19      M        student    60152
851       18      M          other    29646
863       17      M        student    60089
880       13      M        student    83702

In [78]:
users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition

         age gender     occupation zip_code
user_id
30         7      M        student    55436
36        19      F        student    93117
52        18      F        student    55105
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
106       61      M        retired    55125
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
206       14      F        student    53115
211       66      M       salesman    32605
221       19      M        student    20685
223       19      F        student    47906
246       19      M        student    28734
257       17      M        student    77005
258       19      F        student    77801
262       19      F        student    78264
266       62      F  administrator    78756
270       18      F        student    63119
281       15      F        student    06059
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
318       65      M        retired    06518
320       19      M        student    24060
341       17      F        student    44405
347       18      M        student    90210
349       68      M        retired    61455
...      ...    ...            ...      ...
631       18      F        student    38866
632       18      M        student    55454
642       18      F        student    95521
646       17      F        student    51250
651       65      M        retired    02903
674       13      F        student    55337
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
767       70      M       engineer    00000
777       63      M     programmer    01810
787       18      F        student    98620
803       70      M  administrator    78212
813       14      F        student    02136
817       19      M        student    60152
845       64      M         doctor    97405
849       15      F        student    25652
851       18      M          other    29646
858       63      M       educator    09645
859       18      F          other    06492
860       70      F        retired    48322
863       17      M        student    60089
872       19      F        student    74078
880       13      M        student    83702
887       14      F        student    27249
904       17      F        student    61073
925       18      F       salesman    49036
934       61      M       engineer    22902

[99 rows x 4 columns]

#### Sorting

In [79]:
users.age.order()                   # sort a column

/Users/JosephNelson/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

user_id
30      7
471    10
289    11
880    13
609    13
142    13
674    13
628    13
813    14
206    14
887    14
849    15
281    15
461    15
618    15
179    15
101    15
57     16
580    16
550    16
451    16
434    16
621    17
619    17
761    17
375    17
904    17
646    17
582    17
257    17
       ..
90     60
308    60
931    60
752    60
469    60
464    60
234    60
694    60
934    61
351    61
106    61
520    62
266    62
858    63
777    63
364    63
845    64
423    64
318    65
651    65
564    65
211    66
349    68
573    68
559    69
585    69
767    70
803    70
860    70
481    73
Name: age, dtype: int64

In [83]:
users.sort_values(by='age')                   # sort a DataFrame by a single column

         age gender     occupation zip_code
user_id
30         7      M        student    55436
471       10      M        student    77459
289       11      M           none    94619
880       13      M        student    83702
609       13      F        student    55106
142       13      M          other    48118
674       13      F        student    55337
628       13      M           none    94306
813       14      F        student    02136
206       14      F        student    53115
887       14      F        student    27249
849       15      F        student    25652
281       15      F        student    06059
461       15      M        student    98102
618       15      F        student    44212
179       15      M  entertainment    20755
101       15      M        student    05146
57        16      M           none    84010
580       16      M        student    17961
550       16      F        student    95453
451       16      M        student    48446
434       16      F        student    49705
621       17      M        student    60402
619       17      M        student    44134
761       17      M        student    97302
375       17      M  entertainment    37777
904       17      F        student    61073
646       17      F        student    51250
582       17      M        student    93003
257       17      M        student    77005
...      ...    ...            ...      ...
90        60      M       educator    78155
308       60      M        retired    95076
931       60      M       educator    33556
752       60      M        retired    21201
469       60      M       educator    78628
464       60      M         writer    94583
234       60      M        retired    94702
694       60      M     programmer    06365
934       61      M       engineer    22902
351       61      M       educator    49938
106       61      M        retired    55125
520       62      M     healthcare    12603
266       62      F  administrator    78756
858       63      M       educator    09645
777       63      M     programmer    01810
364       63      M       engineer    01810
845       64      M         doctor    97405
423       64      M          other    91606
318       65      M        retired    06518
651       65      M        retired    02903
564       65      M        retired    94591
211       66      M       salesman    32605
349       68      M        retired    61455
573       68      M        retired    48911
559       69      M      executive    10022
585       69      M      librarian    98501
767       70      M       engineer    00000
803       70      M  administrator    78212
860       70      F        retired    48322
481       73      M        retired    37771

[943 rows x 4 columns]

In [84]:
users.sort_values(by='age', ascending=False)  # use descending order instead

         age gender     occupation zip_code
user_id
481       73      M        retired    37771
803       70      M  administrator    78212
767       70      M       engineer    00000
860       70      F        retired    48322
585       69      M      librarian    98501
559       69      M      executive    10022
349       68      M        retired    61455
573       68      M        retired    48911
211       66      M       salesman    32605
651       65      M        retired    02903
564       65      M        retired    94591
318       65      M        retired    06518
845       64      M         doctor    97405
423       64      M          other    91606
858       63      M       educator    09645
364       63      M       engineer    01810
777       63      M     programmer    01810
266       62      F  administrator    78756
520       62      M     healthcare    12603
934       61      M       engineer    22902
351       61      M       educator    49938
106       61      M        retired    55125
464       60      M         writer    94583
469       60      M       educator    78628
234       60      M        retired    94702
900       60      M        retired    18505
308       60      M        retired    95076
931       60      M       educator    33556
694       60      M     programmer    06365
752       60      M        retired    21201
...      ...    ...            ...      ...
700       17      M        student    76309
646       17      F        student    51250
863       17      M        student    60089
375       17      M  entertainment    37777
761       17      M        student    97302
621       17      M        student    60402
257       17      M        student    77005
904       17      F        student    61073
434       16      F        student    49705
451       16      M        student    48446
550       16      F        student    95453
57        16      M           none    84010
580       16      M        student    17961
179       15      M  entertainment    20755
461       15      M        student    98102
618       15      F        student    44212
849       15      F        student    25652
281       15      F        student    06059
101       15      M        student    05146
813       14      F        student    02136
887       14      F        student    27249
206       14      F        student    53115
628       13      M           none    94306
674       13      F        student    55337
142       13      M          other    48118
880       13      M        student    83702
609       13      F        student    55106
289       11      M           none    94619
471       10      M        student    77459
30         7      M        student    55436

[943 rows x 4 columns]

### Exercise Two

#### Filter 'drinks' to only include European countries

In [85]:
drinks[drinks.continent=='EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

#### Filter 'drinks' to only include European countries with wine_servings > 300

In [87]:
drinks[(drinks.continent=='EU') & (drinks.wine_servings>300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

#### Calculate the mean 'beer_servings' for all of Europe

In [90]:
drinks[drinks.continent=='EU'].beer_servings.mean()

193.77777777777777

#### Determine which 10 countries have the highest total_litres_of_pure_alcohol

In [92]:
drinks.sort_values(by='total_litres_of_pure_alcohol', ascending=False).head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
15,Belarus,142,373,42,14.4,EU
98,Lithuania,343,244,56,12.9,EU
3,Andorra,245,138,312,12.4,EU
68,Grenada,199,438,28,11.9,NaN
45,Czech Republic,361,170,134,11.8,EU
61,France,127,151,370,11.8,EU
141,Russian Federation,247,326,73,11.5,AS
81,Ireland,313,118,165,11.4,EU
155,Slovakia,196,293,116,11.4,EU
99,Luxembourg,236,133,271,11.4,EU

#### BONUS: sort 'users' by 'occupation' and then by 'age' (in a single command)

In [96]:
users.sort_values(by=['occupation', 'age'], ascending=[True, False])

         age gender     occupation zip_code
user_id
803       70      M  administrator    78212
266       62      F  administrator    78756
131       59      F  administrator    15237
819       59      M  administrator    40205
7         57      M  administrator    91344
562       54      F  administrator    20879
672       54      F  administrator    90095
539       53      F  administrator    80303
225       51      F  administrator    58202
328       51      M  administrator    06779
438       51      F  administrator    43204
788       51      M  administrator    05779
891       51      F  administrator    03062
523       50      F  administrator    04102
163       49      M  administrator    97212
237       49      M  administrator    63146
720       49      F  administrator    16506
799       49      F  administrator    19716
72        48      F  administrator    73034
409       48      M  administrator    98225
455       48      M  administrator    83709
873       48      F  administrator    33763
87        47      M  administrator    89503
529       47      F  administrator    44224
784       47      M  administrator    91040
852       46      M  administrator    94086
48        45      M  administrator    12550
666       44      M  administrator    61820
89        43      F  administrator    68106
296       43      F  administrator    16803
...      ...    ...            ...      ...
390       42      F         writer    85016
745       42      M         writer    55113
504       40      F         writer    92115
798       40      F         writer    64131
842       40      M         writer    93055
911       37      F         writer    53210
264       36      F         writer    90064
385       36      M         writer    10003
833       34      M         writer    90019
28        32      M         writer    55369
122       32      F         writer    22206
796       32      F         writer    33755
199       30      M         writer    17604
557       30      F         writer    11217
668       29      F         writer    10016
896       28      M         writer    91505
201       27      M         writer    E2A4H
617       27      F         writer    11201
21        26      M         writer    30068
498       26      M         writer    55408
695       26      M         writer    38115
22        25      M         writer    40206
741       25      M         writer    63108
293       24      M         writer    60804
3         23      M         writer    32067
801       22      M         writer    92154
50        21      M         writer    52245
445       21      M         writer    92653
507       18      F         writer    28450
620       18      F         writer    81648

[943 rows x 4 columns]

#### BONUS: filter 'users' to only include doctors and lawyers without using a |

In [ ]:
# isin(['doctor', 'lawyer'])

#### Hint: read the pandas.Series.isin documentation

## Renaming, Adding, and Removing Columns

#### Rename one or more columns

In [97]:
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})

,country,beer,spirit_servings,wine,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [99]:
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

#### Replace all column names

In [101]:
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']

In [102]:
drinks.columns = drink_cols

In [103]:
drinks.head()

       country  beer  spirit  wine  liters continent
0  Afghanistan     0       0     0     0.0        AS
1      Albania    89     132    54     4.9        EU
2      Algeria    25       0    14     0.7        AF
3      Andorra   245     138   312    12.4        EU
4       Angola   217      57    45     5.9        AF

#### Replace all column names when reading the file

In [ ]:
# drinks = pd.read_csv('../data/drinks.csv', header=0, names=drink_cols)

#### Add a new column as a function of existing columns

In [111]:
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine

In [112]:
drinks['mL'] = drinks.liters * 1000

In [113]:
drinks.head()

       country  beer  spirit  wine  liters continent  servings       mL
0  Afghanistan     0       0     0     0.0        AS         0      0.0
1      Albania    89     132    54     4.9        EU       275   4900.0
2      Algeria    25       0    14     0.7        AF        39    700.0
3      Andorra   245     138   312    12.4        EU       695  12400.0
4       Angola   217      57    45     5.9        AF       319   5900.0

#### Removing columns

In [107]:
drinks.drop('mL', axis=1)                               # axis=0 for rows, 1 for columns

                  country  beer  spirit  wine  liters continent  servings
0             Afghanistan     0       0     0     0.0        AS         0
1                 Albania    89     132    54     4.9        EU       275
2                 Algeria    25       0    14     0.7        AF        39
3                 Andorra   245     138   312    12.4        EU       695
4                  Angola   217      57    45     5.9        AF       319
5       Antigua & Barbuda   102     128    45     4.9       NaN       275
6               Argentina   193      25   221     8.3        SA       439
7                 Armenia    21     179    11     3.8        EU       211
8               Australia   261      72   212    10.4        OC       545
9                 Austria   279      75   191     9.7        EU       545
10             Azerbaijan    21      46     5     1.3        EU        72
11                Bahamas   122     176    51     6.3       NaN       349
12                Bahrain    42      63     7     2.0        AS       112
13             Bangladesh     0       0     0     0.0        AS         0
14               Barbados   143     173    36     6.3       NaN       352
15                Belarus   142     373    42    14.4        EU       557
16                Belgium   295      84   212    10.5        EU       591
17                 Belize   263     114     8     6.8       NaN       385
18                  Benin    34       4    13     1.1        AF        51
19                 Bhutan    23       0     0     0.4        AS        23
20                Bolivia   167      41     8     3.8        SA       216
21     Bosnia-Herzegovina    76     173     8     4.6        EU       257
22               Botswana   173      35    35     5.4        AF       243
23                 Brazil   245     145    16     7.2        SA       406
24                 Brunei    31       2     1     0.6        AS        34
25               Bulgaria   231     252    94    10.3        EU       577
26           Burkina Faso    25       7     7     4.3        AF        39
27                Burundi    88       0     0     6.3        AF        88
28          Cote d'Ivoire    37       1     7     4.0        AF        45
29             Cabo Verde   144      56    16     4.0        AF       216
..                    ...   ...     ...   ...     ...       ...       ...
163              Suriname   128     178     7     5.6        SA       313
164             Swaziland    90       2     2     4.7        AF        94
165                Sweden   152      60   186     7.2        EU       398
166           Switzerland   185     100   280    10.2        EU       565
167                 Syria     5      35    16     1.0        AS        56
168            Tajikistan     2      15     0     0.3        AS        17
169              Thailand    99     258     1     6.4        AS       358
170             Macedonia   106      27    86     3.9        EU       219
171           Timor-Leste     1       1     4     0.1        AS         6
172                  Togo    36       2    19     1.3        AF        57
173                 Tonga    36      21     5     1.1        OC        62
174     Trinidad & Tobago   197     156     7     6.4       NaN       360
175               Tunisia    51       3    20     1.3        AF        74
176                Turkey    51      22     7     1.4        AS        80
177          Turkmenistan    19      71    32     2.2        AS       122
178                Tuvalu     6      41     9     1.0        OC        56
179                Uganda    45       9     0     8.3        AF        54
180               Ukraine   206     237    45     8.9        EU       488
181  United Arab Emirates    16     135     5     2.8        AS       156
182        United Kingdom   219     126   195    10.4        EU       540
183              Tanzania    36       6     1     5.7        AF        43
184                   USA   249     158    84     8.7       NaN       491
185               Uruguay   115      35   220     6.6        SA       370
186            Uzbekistan    25     101     8     2.4        AS       134
187               Vanuatu    21      18    11     0.9        OC        50
188             Venezuela   333     100     3     7.7        SA       436
189               Vietnam   111       2     1     2.0        AS       114
190                 Yemen     6       0     0     0.1        AS         6
191                Zambia    32      19     4     2.5        AF        55
192              Zimbabwe    64      18     4     4.7        AF        86

[193 rows x 7 columns]

In [114]:
drinks.drop(['mL', 'servings'], axis=1, inplace=True)   # drop multiple columns

## Handling Missing Values

#### Missing values are usually excluded by default

In [115]:
drinks.continent.value_counts()    # excludes missing values

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [116]:
drinks.continent.value_counts(dropna=False)  # includes missing values

AF     53
EU     45
AS     44
NaN    23
OC     16
SA     12
Name: continent, dtype: int64

#### Find missing values in a Series

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv')

In [117]:
drinks.continent.notnull()          # True if not missing

0       True
1       True
2       True
3       True
4       True
5      False
6       True
7       True
8       True
9       True
10      True
11     False
12      True
13      True
14     False
15      True
16      True
17     False
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
163     True
164     True
165     True
166     True
167     True
168     True
169     True
170     True
171     True
172     True
173     True
174    False
175     True
176     True
177     True
178     True
179     True
180     True
181     True
182     True
183     True
184    False
185     True
186     True
187     True
188     True
189     True
190     True
191     True
192     True
Name: continent, dtype: bool

In [118]:
drinks.continent.notnull()          # True if not missing

0       True
1       True
2       True
3       True
4       True
5      False
6       True
7       True
8       True
9       True
10      True
11     False
12      True
13      True
14     False
15      True
16      True
17     False
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
163     True
164     True
165     True
166     True
167     True
168     True
169     True
170     True
171     True
172     True
173     True
174    False
175     True
176     True
177     True
178     True
179     True
180     True
181     True
182     True
183     True
184    False
185     True
186     True
187     True
188     True
189     True
190     True
191     True
192     True
Name: continent, dtype: bool

#### Use a boolean Series to filter DataFrame rows

In [120]:
drinks[drinks.continent.isnull()]   # only show rows where continent is missing

                          country  beer  spirit  wine  liters continent
5               Antigua & Barbuda   102     128    45     4.9       NaN
11                        Bahamas   122     176    51     6.3       NaN
14                       Barbados   143     173    36     6.3       NaN
17                         Belize   263     114     8     6.8       NaN
32                         Canada   240     122   100     8.2       NaN
41                     Costa Rica   149      87    11     4.4       NaN
43                           Cuba    93     137     5     4.2       NaN
50                       Dominica    52     286    26     6.6       NaN
51             Dominican Republic   193     147     9     6.2       NaN
54                    El Salvador    52      69     2     2.2       NaN
68                        Grenada   199     438    28    11.9       NaN
69                      Guatemala    53      69     2     2.2       NaN
73                          Haiti     1     326     1     5.9       NaN
74                       Honduras    69      98     2     3.0       NaN
84                        Jamaica    82      97     9     3.4       NaN
109                        Mexico   238      68     5     5.5       NaN
122                     Nicaragua    78     118     1     3.5       NaN
130                        Panama   285     104    18     7.2       NaN
143             St. Kitts & Nevis   194     205    32     7.7       NaN
144                     St. Lucia   171     315    71    10.1       NaN
145  St. Vincent & the Grenadines   120     221    11     6.3       NaN
174             Trinidad & Tobago   197     156     7     6.4       NaN
184                           USA   249     158    84     8.7       NaN

In [121]:
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

                      country  beer  spirit  wine  liters continent
0                 Afghanistan     0       0     0     0.0        AS
1                     Albania    89     132    54     4.9        EU
2                     Algeria    25       0    14     0.7        AF
3                     Andorra   245     138   312    12.4        EU
4                      Angola   217      57    45     5.9        AF
6                   Argentina   193      25   221     8.3        SA
7                     Armenia    21     179    11     3.8        EU
8                   Australia   261      72   212    10.4        OC
9                     Austria   279      75   191     9.7        EU
10                 Azerbaijan    21      46     5     1.3        EU
12                    Bahrain    42      63     7     2.0        AS
13                 Bangladesh     0       0     0     0.0        AS
15                    Belarus   142     373    42    14.4        EU
16                    Belgium   295      84   212    10.5        EU
18                      Benin    34       4    13     1.1        AF
19                     Bhutan    23       0     0     0.4        AS
20                    Bolivia   167      41     8     3.8        SA
21         Bosnia-Herzegovina    76     173     8     4.6        EU
22                   Botswana   173      35    35     5.4        AF
23                     Brazil   245     145    16     7.2        SA
24                     Brunei    31       2     1     0.6        AS
25                   Bulgaria   231     252    94    10.3        EU
26               Burkina Faso    25       7     7     4.3        AF
27                    Burundi    88       0     0     6.3        AF
28              Cote d'Ivoire    37       1     7     4.0        AF
29                 Cabo Verde   144      56    16     4.0        AF
30                   Cambodia    57      65     1     2.2        AS
31                   Cameroon   147       1     4     5.8        AF
33   Central African Republic    17       2     1     1.8        AF
34                       Chad    15       1     1     0.4        AF
..                        ...   ...     ...   ...     ...       ...
161                 Sri Lanka    16     104     0     2.2        AS
162                     Sudan     8      13     0     1.7        AF
163                  Suriname   128     178     7     5.6        SA
164                 Swaziland    90       2     2     4.7        AF
165                    Sweden   152      60   186     7.2        EU
166               Switzerland   185     100   280    10.2        EU
167                     Syria     5      35    16     1.0        AS
168                Tajikistan     2      15     0     0.3        AS
169                  Thailand    99     258     1     6.4        AS
170                 Macedonia   106      27    86     3.9        EU
171               Timor-Leste     1       1     4     0.1        AS
172                      Togo    36       2    19     1.3        AF
173                     Tonga    36      21     5     1.1        OC
175                   Tunisia    51       3    20     1.3        AF
176                    Turkey    51      22     7     1.4        AS
177              Turkmenistan    19      71    32     2.2        AS
178                    Tuvalu     6      41     9     1.0        OC
179                    Uganda    45       9     0     8.3        AF
180                   Ukraine   206     237    45     8.9        EU
181      United Arab Emirates    16     135     5     2.8        AS
182            United Kingdom   219     126   195    10.4        EU
183                  Tanzania    36       6     1     5.7        AF
185                   Uruguay   115      35   220     6.6        SA
186                Uzbekistan    25     101     8     2.4        AS
187                   Vanuatu    21      18    11     0.9        OC
188                 Venezuela   333     100     3     7.7        SA
189                   Vietnam   111       2     1     2.0        AS
190                     Yemen     6       0     0     0.1        AS
191                    Zambia    32      19     4     2.5        AF
192                  Zimbabwe    64      18     4     4.7        AF

[170 rows x 6 columns]

#### Side note: understanding axes

In [ ]:
drinks.sum()            # sums "down" the 0 axis (rows)

In [ ]:
drinks.sum(axis=0)      # equivalent (since axis=0 is the default)

In [ ]:
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

#### Side note: adding booleans

In [ ]:
pd.Series([True, False, True])          # create a boolean Series

In [ ]:
pd.Series([True, False, True]).sum()    # converts False to 0 and True to 1

#### Find missing values in a DataFrame

In [ ]:
drinks.isnull()             # DataFrame of booleans

In [122]:
drinks.isnull().sum()       # count the missing values in each column

country       0
beer          0
spirit        0
wine          0
liters        0
continent    23
dtype: int64

#### Drop missing values

In [ ]:
drinks.dropna()             # drop a row if ANY values are missing

In [ ]:
drinks.dropna(how='all')    # drop a row only if ALL values are missing

#### Fill in missing values

In [123]:
drinks.continent.fillna(value='NA', inplace=True)   # fill in missing values with 'NA'

#### Turn off the missing value filter

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/josephofiowa/GA-DSI/master/example-lessons/plotting-with-pandas/drinks.csv', header=0, names=drink_cols, na_filter=False)

### Exercise Three

#### Read ufo.csv into a DataFrame called 'ufo'
https://raw.githubusercontent.com/josephofiowa/DAT8/master/data/ufo.csv

#### Check the shape of the DataFrame

#### Calculate the most frequent value for each of the columns (in a single command)

#### What are the four most frequent colors reported?

#### For reports in VA, what's the most frequent city?

#### Show only the UFO reports from Arlington, VA

#### Count the number of missing values in each column

#### Show only the UFO reports in which the City is missing

#### How many rows remain if you drop all rows with any missing values?

#### Replace any spaces in the column names with an underscore

#### BONUS: redo the task above, writing generic code to replace spaces with underscores
In other words, your code should not reference the specific column names

#### BONUS: create a new column called 'Location' that includes both City and State
For example, the 'Location' for the first row would be 'Ithaca, NY'

## Split-Apply-Combine
Diagram: http://i.imgur.com/yjNkiwL.png

#### For each continent, calculate the mean beer servings

In [ ]:
drinks.groupby('continent').beer.mean()

#### For each continent, count the number of occurrences

In [ ]:
drinks.continent.value_counts()

#### For each continent, describe beer servings

In [ ]:
drinks.groupby('continent').beer.describe()

#### Similar, but outputs a DataFrame and can be customized

In [ ]:
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])

In [ ]:
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort('mean')

#### If you don't specify a column to which the aggregation function should be applied, it will be applied to all numeric columns

In [ ]:
drinks.groupby('continent').mean()

In [ ]:
drinks.groupby('continent').describe()

### Exercise Four

#### For each occupation in 'users', count the number of occurrences

#### For each occupation, calculate the mean age

#### BONUS: for each occupation, calculate the minimum and maximum ages

#### BONUS: for each combination of occupation and gender, calculate the mean age